<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laf.mapper.CardMapper">
    <update id="update" parameterType="com.laf.entity.Card">
        UPDATE card
        <set>
            <if test="cardNumber != null">card_number = #{cardNumber},</if>
            <if test="realName != null">real_name = #{realName},</if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>