<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laf.mapper.LostOrFoundItemMapper">

    <!-- 分页查询失物和招领信息 -->
    <select id="pageQuery" resultType="com.laf.entity.LostOrFoundItem">
        SELECT * FROM lost_or_found_item
        <where>
            <if test="type != null and type != ''">
                AND lost_or_found =
                <choose>
                    <when test="type == 'lost'">0</when>
                    <when test="type == 'found'">1</when>
                    <otherwise>0</otherwise>
                </choose>
            </if>
            <if test="itemName != null and itemName != ''">
                AND item_name LIKE CONCAT('%', #{itemName}, '%')
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>