<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laf.mapper.LostOrFoundItemMapper">
    <select id="pageQueryLostOrFoundItems" resultType="com.laf.entity.LostOrFoundItem">
        SELECT * FROM lost_or_found_item
        <where>
            <if test="item_name != null and name != ''">
                AND item_name LIKE CONCAT('%', #{itemName}, '%')
            </if>
            <if test="type != null">
                AND lost_or_found = #{type}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>
</mapper>